
body {
    width: 100%;
    height: 100%;
}


/* -------------------NAV--------------- */
#container {
    position: sticky;
    background-color: rgba(244, 246, 248, 0.668);
}

.a1 {
    background-color: rgb(240, 239, 238);
    padding: 15px 50px;
}

.a2 {
    display: inline;
    margin: auto 110px;
}

.a3 {
    display: inline;
}

.a3 a {
    padding-left: 5px;
    text-decoration: none;
}

.a4 {
    display: inline;
}

.a4 a {
    padding-left: 5px;
    text-decoration: none;
}

.a5 {
    display: inline;
    float: right;
    margin: auto 100px;
}

.a5 a {
    padding: 10px;
}

/* -----------NAVBAR------------- */

.logo {
    color: rgb(14, 91, 14);
    display: inline-block;
    position: absolute;
    margin: 0px 163px;
}

.b1 ul {
    list-style: none;
    margin: 20px 608px;
    display: flex;
}

ul li {
    padding: 17px;
}

.b1 ul li a {
    text-decoration: none;
}

.btn button {
    margin: -65px 135px;
    font-size: 18px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: white;
    color: darkgreen;
    width: 130px;
    height: 35px;
    float: right;
    cursor: pointer;
}

/* -------------------CONTAINER 1---------------------- */
.c1 {
    /* background: url(/Nature/images/flower2.jpg) no-repeat; */
    background-image: linear-gradient(to right, red, orange, rgb(158, 158, 2), green, rgb(103, 241, 185), indigo, violet);
    color: white;
    display: flex;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn_1 {
    font-size: 20px;
    width: 170px;
    height: 45px;
    border-radius: 7px;
    background-color: #376f4b;
    color: white;
}

.c4 {
    background-color: rgba(244, 246, 248, 0.668);
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 30px auto;
}

.c4a {
    width: 300px;
    margin: 2px 101px;
}

.c4a a {
    height: 200px;
    width: 200px;
}

#para {
    margin-left: 0px;
}

/* -----------------About----------------- */

#d {
    text-align: center;
}

#d1 {
    text-align: center;
}

.d2 {
    margin-left: 75px;
    width: 850px;
    display: grid;
}

#pic_1 img {
    width: 550px;
    height: 400px;
    float: right;
    margin: -350px 100px;
}

.usedgrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 100px;
    padding: 20px 20px;
}

.item {
    border-right: 1px solid green;
    padding: 30px 50px;
}

#item1,
#item2,
#item3 {
    border-bottom: 1px solid green;
}

#item3,
#item6 {
    border-right-color: white;
}

/* ----------------------clients------------------- */
.clients {
    text-align: center;
}

.e1 img {
    width: 100px;
    height: 80px;
    padding: 50px;
    border-radius: 70px;
}

/* ----------------service------------ */
#services {
    text-align: center;
}

/* --------------services grid-----------  */
.services_grid {
    margin-top: -75px;
}

.f {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 100px;
    padding: 20px 20px;
}

.serv {
    padding: 20px 20px;
    text-align: center;
    margin: 20px 20px;
    height: 260px;
    box-shadow: 0px 0px 30px 10px rgb(241, 235, 225);
}

.serv a {
    font-size: 70px;
}

.serv a :hover {
    color: #02521e;
}

/* ---------------contact----------------------- */
.contact {
    border: 2px solid #5cb874;
    height: 220px;
    background-color: #5cb874;
    color: #f8f9fa;
}

.call {
    width: 1000px;
    margin: 60px 140px;
    font-size: 16px;
}

#g1 {
    padding: 0px;
}

.call_btn button {
    border: 2px solid white;
    color: white;
    background-color: #5cb874;
    cursor: pointer;
    float: right;
    margin: -100px 230px;
    font-size: 20px;
}


/* --------------------portfolio--------------------- */

#portfolio {
    text-align: center;
    margin-top: 60px;
}

.nav_portfolio {
    display: flex;
    justify-content: center;
}

.nav_portfolio ol {
    display: flex;
}

ol li {
    padding: 12px;
    list-style: none;
    border-radius: 4px;
}

.nav_portfolio ol li a {
    text-decoration: none;
}

ol li :hover {

    background-color: #5cb874;
    color: white;
}

ol li :active {
    color: #02521e;
}

.photos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

.photos img{
    margin: 20px 70px;
}

.photo_1 img{
    
    width: 320px;
    height: 300px;
}
.photo_2 img{
  
    width: 335px;
    height: 370px;
}
.photo_3 img{
    
    width: 375px;
    height: 300px;
    
}
.photo_4 img{
   
    width: 320px;
    height: 300px;
}
.photo_5 img{
    width: 335px;
    height: 300px;
}
.photo_6 img{

    width: 375px;
    height: 300px;
}
.photo_7 img{
    width: 325px;
    height: 330px;
   
}
.photo_8 img{
    width: 340px;
    height: 300px;
    
}

.photo_9 img{
    width: 375px;
    height: 370px;
}

/* ------------------------------Team--------------------- */

#team {
    background-color: #f3faf5;
    justify-content: center;
    padding-bottom: 20px;
}

#team h1 {
    text-align: center;
}

#team p {
    text-align: center;
    margin-left: 20px;
}

.t_container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    
}

.t1 img {
    border-radius: 90px;
    margin-top: 10px;
}

.t2 img {
    border-radius: 90px;
    margin-top: 10px;
}

.t3 img {
    border-radius: 90px;
    margin-top: 10px;
}

/* ---------------CONTACT adrs----------------- */
#adrs {
    background-color: #f3faf5;
    margin-bottom: 50px;
}

.hp {
    text-align: center;
}

.rasta {
    border-top: 4px solid green;
    border-bottom: 4px solid green;
    width: 500px;
    margin-left: 85px;
    margin-top: 40px;
    background-color: white;
}

.jagah {
    width: 500px;
    height: 120px;
}

.jagah :hover {
    background-color: #b2d2be;
}

#s1 {
    margin-top: -90px;
    margin-left: 80px;
}

.sandesh {
    width: 500px;
    height: 120px;
}

.sandesh :hover {
    background-color: #b2d2be;
}

#s2 {
    margin-top: -90px;
    margin-left: 80px;
}

.dial {
    width: 500px;
    height: 120px;
}

.dial :hover {
    background-color: #b2d2be;
}

#s3 {
    margin-top: -90px;
    margin-left: 80px;
}

.barey-me {
    border-top: 4px solid green;
    border-bottom: 4px solid green;
    background-color: white;
    width: 800px;
    height: 715px;
    float: right;
    margin: -725px 125px;
}

.ja {
    display: grid;
    font-size: large;
    margin: 20px 30px;
    width: 355px;
    height: 70px;
}

.jb {
    display: grid;
    font-size: large;
    margin: 20px 30px;
    width: 355px;
    height: 70px;
}

.jc {
    display: grid;
    font-size: large;
    margin: 20px 30px;
    width: 355px;
    height: 70px;
}

.jd {
    display: grid;
    font-size: large;
    margin: 20px 30px;
}

#jj {
    font-size: 20px;
    margin: 5px 315px;
    height: 50px;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* ---------------footer--------------  */
footer {
    background-color: rgb(22, 21, 21);
    color: white;
    text-align: center;
    padding: 10px 10px;
}

footer h1 {
    color: #07c449;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer a {
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

#ap {
    color: #07c449;
    cursor: pointer;
    font-weight: bolder;
}

#right a {
    float: right;
    background-color: #ffffff;
    color: rgb(22, 21, 21);
    margin: -50px 5px;
    border-radius: 15px;
}